.catalogue{
  border-bottom-style: solid;
  border-color: #79430e;
  background-color: white;

  box-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.5);
}



.card-img-top-custom{
  width: 100%;
  height: 30em;
  z-index: -1;
  border-radius: 5px;
}

.card-bottom-custom{
  text-align: center;
  color: white;
  padding: 1em;
  background-color: rgba(0,0,0,0.4);
  position: relative;
  bottom: 6em;
  transition-duration: 0.5s;
}
.card-custom:hover > .card-bottom-custom{
  bottom: 22em !important;
  transition-duration: 0.5s;
}

.card-custom:hover > .card-img-top-custom{
  transition-duration: 0.5s;
  filter: blur(2px) grayscale(60%) brightness(40%) ;

}


.card-custom{
  height: 30em;
  margin-bottom: 1em;
  overflow-y: hidden;
}
